@charset "utf-8";
/* CSS Document */
page
* {
	margin: 0;
	padding: 0;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form,
	fieldset, input, textarea, p, blockquote, th, td {
	padding: 0;
	margin: 0;
}

body {
	background: #f3f3f3;
}

div, form, img, ul, ol, li, dl, dt, dd, p {
	margin: 0;
	padding: 0;
	border: none;
}

ul, dl {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: normal;
}

body {
	font-family: "微软雅黑", Arial, georgia, verdana, helvetica, sans-serif;
	background-color: #fff;
	font-size: 14px;
}

.clear {
	clear: both;
	margin: 0;
	padding: 0;
	font: 0;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #1f87de;
	text-decoration: none;
}

img {
	padding: 0;
	margin: 0
}

.container {
	width: 100%;
	margin: 0 auto;
	color: #333;
	zoom: 1;
}

/*头部*/
.header {
	width: 100%;
	height: 70px;
	background: #3a3e50;
}

/*左侧*/
.leftmainmenu {
	float: left;
}

.leftmainmenu {
	width: 68px;
	background: #19599a;
	height: 910px;
}

/*右侧*/
.rightcontainer {
	
}

.rightcontainer-left {
	width: 100%;
}

.right_top {
	height: 33px;
	margin-left: 20px;
	line-height: 33px;
}

/*右侧顶部TAB菜单*/
.top-righttabmenu {
	width: 100%;
	font-size: 14px;
	background: #ededef;
	height: 40px;
}

.box {
	margin-left: 10px;
	font-size: 14px;
	float: left;
	height: 40px;
	padding-left: 10px;
}

.box li {
	height: 33px;
	padding-top: 7px;
	margin-right: 35px;
	text-align: center;
	float: left;
	cursor: pointer;
	font-size: 14px;
	color: #343434;
}

.box li.on {
	height: 34px;
	padding-top: 5px;
	border-bottom: 2px solid #0268c0;
	color: #1f87de;
	position: relative;
	top: 1px;
	font-size: 14px;
}

/*右侧顶部TAB菜单(下拉菜单）*/
.incomebox {
	width: 200px;
	position: absolute;
	top: 143px;
	z-index: 6;
	background: #fff;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 8px;
	display: none;
}

.more_menu {
	
}

.more_li {
	width: 210px;
	height: 22px;
	line-height: 22px;
	display: block;
}

/*搜索框*/
.search_container {
	width: 98%;
	background: #f5f6f8;
	margin-left: 20px;
	margin-top: 15px;
	padding-bottom: 15px;
	-moz-border-radius: 4px; /* Gecko browsers */
	-webkit-border-radius: 4px; /* Webkit browsers */
	border-radius: 4px; /* W3C syntax */
	border: 1px solid #dee1e6;
	margin-right: 20px;
	height: 90px;
}

.search_title {
	background: #e3e6eb;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	-moz-border-radius: 4px; /* Gecko browsers */
	-webkit-border-radius: 4px; /* Webkit browsers */
	border-radius: 4px; /* W3C syntax */
	margin-bottom: 15px;
}

.search_input {
	width: 100%;
}

.search_input_select {
	width: 90%;
}

.search_input_select li {
	height: 30px;
	line-height: 30px;
	float: left;
	margin-left: 46px;
}

.search_input_select select {
	width: 300px;
	height: 30px;
}

/*搜索icon*/
.search_menu {
	background: #4a8ed4;
	border: 1px solid #6fa8d5;
	color: #fff;
	cursor: pointer;
	height: 29px;
	width: 29px;
	float: right;
	-moz-border-radius: 4px; /* Gecko browsers */
	-webkit-border-radius: 4px; /* Webkit browsers */
	border-radius: 4px; /* W3C syntax */
	display: block;
	overflow: hidden;
	line-height: 29px;
}

.search_menu:hover {
	background: #2e77c2;
	height: 29px;
	width: 29px;
	cursor: pointer;
}

/*收缩icon*/
.open_menu {
	background: #a1afc1;
	color: #fff;
	cursor: pointer;
	height: 24px;
	width: 24px;
	float: right;
	-moz-border-radius: 4px; /* Gecko browsers */
	-webkit-border-radius: 4px; /* Webkit browsers */
	border-radius: 4px; /* W3C syntax */
	display: block;
	overflow: hidden;
	line-height: 24px;
	margin: 6px 6px 0 0;
}

.open_menu a {
	background: #a1afc1;
	height: 29px;
	width: 29px;
	display: block;
	overflow: hidden;
	background: url(images/open.png) no-repeat 5px 10px;
}

.open_menu a:hover {
	background: #8d9caf;
	height: 29px;
	width: 29px;
	background: url(images/close.png) no-repeat 5px 8px;
}

/*功能操作按钮*/
.table_container {
	width: 98%;
	margin-left: 20px;
	height: 300px;
	margin-top: 15px;
}

.table_menu {
	height: 28px;
}

.icon_left {
	float: left;
	margin-top: 2px;
	overflow: hidden;
	margin-left: 3px;
	margin-right: 6px;
}

.table_menu_blue {
	height: 26px;
	background: #4a8ed4;
	line-heigh: 28px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	-moz-border-radius: 4px; /* Gecko browsers */
	-webkit-border-radius: 4px; /* Webkit browsers */
	border-radius: 4px;
	border: none;
	padding: 4px 10px 0px 10px;
	margin-right: 15px;
	color: #fff;
	font-size: 14px;
	float: left;
	font-weight: normal;
}

.table_menu_blue:hover {
	background: #2e77c2;
	cursor: pointer;
}

.table_menu_green {
	height: 26px;
	background: #5cb083;
	line-heigh: 28px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	-moz-border-radius: 4px; /* Gecko browsers */
	-webkit-border-radius: 4px; /* Webkit browsers */
	border-radius: 4px;
	border: none;
	padding: 4px 10px 0px 10px;
	margin-right: 15px;
	color: #fff;
	font-size: 14px;
	float: left;
	font-weight: normal;
}

.table_menu_green:hover {
	background: #339661;
	cursor: pointer;
}

.table_menu_orange {
	height: 26px;
	background: #db9336;
	line-heigh: 28px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	-moz-border-radius: 4px; /* Gecko browsers */
	-webkit-border-radius: 4px; /* Webkit browsers */
	border-radius: 4px;
	border: none;
	padding: 4px 10px 0px 10px;
	margin-right: 15px;
	color: #fff;
	font-size: 14px;
	float: left;
	font-weight: normal;
}

.table_menu_orange:hover {
	background: #c57d20;
	cursor: pointer;
}
/*翻页*/
.page {
	height: 25px;
	line-height: 25px;
}

.ck_next {
	background: url(images/next1.png) no-repeat;
	width: 23px;
	height: 23px;
	margin-left: 5px;
}

.ck_next:hover {
	background: url(images/next.png) no-repeat;
	width: 23px;
	height: 23px;
	margin-left: 5px;
}

.ck_prev {
	background: url(images/prev.png) no-repeat;
	width: 23px;
	height: 23px;
	margin-left: 8px;
}

.ck_prev:hover {
	background: url(images/prev1.png) no-repeat;
	width: 23px;
	height: 23px;
	margin-left: 8px;
}

.ck_blucmenu {
	height: 33px;
	background: #38b1ea;
	line-heigh: 33px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	-moz-border-radius: 4px; /* Gecko browsers */
	-webkit-border-radius: 4px; /* Webkit browsers */
	border-radius: 4px;
	border: none;
	cursor: pointer;
	padding: 0 15px;
	margin-right: 10px;
	margin-top: 10px;
}

.cky_blucmenu {
	height: 33px;
	background: #38b1ea url(images/bg-w-icon.png) no-repeat 10px center;
	line-heigh: 33px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	-moz-border-radius: 15px; /* Gecko browsers */
	-webkit-border-radius: 15px; /* Webkit browsers */
	border-radius: 15px;
	border: none;
	cursor: pointer;
	padding: 0 15px;
	margin-right: 10px;
	margin-top: 10px;
	padding-left: 30px;
}

.ck_blucmenu:hover {
	height: 33px;
	background: #3396c5;
	line-heigh: 33px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	-moz-border-radius: 4px; /* Gecko browsers */
	-webkit-border-radius: 4px; /* Webkit browsers */
	border-radius: 4px;
	border: none;
	cursor: pointer;
	padding: 0 15px;
	margin-right: 10px;
	margin-top: 10px;
}

.tr_floatleft {
	float: left;
	overflow: hidden;
}

.list_table {
	border: 1px solid #e0e0e0;
	height: 300px;
	width: 100%;
	margin-top: 15px;
}

.tab_linebluemenu {
	height: 35px;
	width: 98%;
	margin-left: 0px;
	margin-top: 15px;
}

.tabbluemenu_box {
	font-size: 14px;
	width: 100%;
	border-bottom: 1px solid #babec3;
	height: 30px;
}

.tabbluemenu_box li {
	height: 25px;
	padding-top: 2px;
	text-align: center;
	float: left;
	cursor: pointer;
	font-size: 14px;
	color: #343434;
	width: 120px;
}

.tabbluemenu_box li.on {
	height: 30px;
	border-top: 3px solid #2f81d3;
	color: #1168bf;
	position: relative;
	top: 0px !important;
	font-size: 14px;
	top: -2px;
	width: 120px;
	border-left: 1px solid #dddddd;
	border-bottom: 2px solid #fff;
	background: #fff;
	border-right: 1px solid #dddddd;
	border-radius: 4px;
}

.search {
	height: 28px;
	width: 232px;
	border: 1px solid #ddd;
	-moz-border-radius: 4px; /* Gecko browsers */
	-webkit-border-radius: 4px; /* Webkit browsers */
	border-radius: 4px; /* W3C syntax */
	float: left;
	line-height: 28px;
	margin-right: 60px;
}

.search input {
	width: 200px;
	line-height: 28px;
	height: 28px;
	padding: 0 5px 0 3px;
	border: none;
	outline: none;
}

.search_icon {
	width: 22px;
	height: 28px;
	line-height: 28px;
	margin-left: 10px;
}

.bottom_container {
	width: 100%;
	height: 260px;
	border: 1px solid #d3d2d2;
	margin-top: 15px;
}

.bottomtab_linebluemenu {
	height: 35px;
	width: 100%;
	background: #e5e5e6;
}

.bottomtab_box {
	font-size: 14px;
	width: 100%;
	height: 35px;
	margin-left: 20px;
}

.bottomtab_box li {
	height: 30px;
	padding-top: 5px;
	text-align: center;
	float: left;
	cursor: pointer;
	font-size: 14px;
	color: #343434;
	width: 60px;
}

.bottomtab_box li.on {
	padding: 0px;
	margin-top: 3px;
	padding-top: 3px;
	color: #fff;
	position: relative;
	font-size: 14px;
	width: 60px;
	height: 25px;
	background: #4a8ed4;
	-moz-border-radius: 4px; /* Gecko browsers */
	-webkit-border-radius: 4px; /* Webkit browsers */
	border-radius: 4px;
}

.t {
	width: 100%;
}

.t {
	padding: 10px 15px;
}

.t td {
	height: 42px;
	padding-right: 15px;
}

.t .txt {
	width: 17%;
	text-align: right;
}

.t .content {
	width: 33%;
}

.t .content input {
	width: 100%;
	height: 28px;
}

.t span {
	color: #ca1b23;
}

.search_t {
	padding: 0px 15px;
	width: 100%;
}

.search_t td {
	height: 35px;
	padding-right: 15px;
}

.search_t .txt {
	width: 10%;
	text-align: right;
}

.search_t .content {
	width: 28%;
}

.search_t .content select {
	width: 88%;
	height: 28px;
}

.search_t .searchicon {
	width: 5%;
	text-align: right;
}

/* @zgc datatable 配置项所需样式 */
.leftDiv {
	float: left;
	line-height: 33px;
}

.rightDiv {
	float: right;
	line-height: 33px;
	padding-top:5px;
}

.toolbar {
	margin-top: 5px;
}
/* @zgc button */
button[disabled] {
	background: #b2b7c1;
}

button:hover[disabled] {
	background: #b2b7c1;
}

.button_menu {
	height: 30px;
	line-heigh: 28px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	-moz-border-radius: 4px; /* Gecko browsers */
	-webkit-border-radius: 4px; /* Webkit browsers */
	border-radius: 4px;
	border: none;
	padding: 2px 10px 3px 10px;
	margin-right: 5px;
	color: #fff;
	font-size: 14px;
	float: left;
	font-weight: normal;
	font-family: "微软雅黑";
	cursor: pointer;
}

.button_color_orange {
	background: #db9336
}

.button_color_orange:hover {
	background: #c57d20
}

.button_color_blue {
	background: #4a8ed4
}

.button_color_blue:hover {
	background: #2e77c2
}

.button_color_green {
	background: #5cb083
}

.button_color_green:hover {
	background: #339661
}

.button_color_red {
	background: #e46a6a
}

.button_color_red:hover {
	background: #ca4d4d
}

.button_color_bluegreen {
	background: #69bdc0
}

.button_color_bluegreen:hover {
	background: #51acaf
}

tr.selected {
	background-color: #dddddd;
}

@media screen and (min-width: 768px) {
}

@media screen and (max-width: 768px) {
}

.bgimg {
	background-color: #3D556B;
}

.login-box {
	width: 300px;
	height: 404px;
	background-color: #fafafa;
	float: left;
}

.sendemail_box {
	width: 300px;
	height: 300px;
	background-color: #fafafa;
	float: left;
}
/*登录页*/
.login_container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -496px;
	margin-top: -202px;
	z-index: 10;
	box-shadow: 0px 2px 6px 0px rgba(65, 81, 102, 0.7);
}

.sendemail_container {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -150px;
	box-shadow: 0px 2px 6px 0px rgba(65, 81, 102, 0.7);
}

.login_inb {
	width: 992px;
	height: 404px;
}

.login_left_img {
	width: 692px;
	height: 404px;
	float: left;
}

.login_welcome {
	color: #165773;
	padding-left: 20px;
}

.login_logo {
	z-index: 0;
	width: 992px;
	margin: 10px auto 0 auto;
	border-bottom: 1px solid #cccccc;
}

.login_bottom {
	position: absolute;
	bottom: 10px;
	width: 992px;
	left: 50%;
	margin-left: -496px;
}

.bottom_info {
	font-size: 12px;
	color: #cccccc;
}

.right_login {
	width: 300px;
	margin: 30px auto 0 auto;
}

.login_bottom_bg {
	width: 1316px;
	height: 110px;
	position: fixed;
	bottom: 0;
	left: 17%;
}

.k-user {
	margin: 5px 0 12px;
}

.login-item {
	width: 260px;
	height: 34px;
	line-height: 34px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 15px auto;
	background-color: #ffffff;
}

.span_user {
	float: left;
	line-height: 30px !important;
	height: 30px;
	width: 30px;
	font-size: 16px;
	color: #444444;
	text-align: center;
}

.form-input {
	width: 85%;
	border: 0 none;
	float: left;
	display: inline-block;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
	position: relative;
	vertical-align: middle;
	background-color: #ffffff !important;
}

.btn_sendemail {
	margin: 10px 20px 0 0;
	border-radius: 2px;
}

.form-input:focus {
	outline: none;
}
.form-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important; }
.form-input::-moz-placeholder {
	　　color: #757e8c;
}

.form-input::-ms-input-placeholder {
	color: #757e8c;
}

.form-input::-webkit-input-placeholder {
	color: #757e8c;
}

.k-pwd {
	margin-bottom: 17px;
}

.form-label-pwd {
	background-position: 0 -30px;
}

.form-label-fpwd {
	background-position: 0 -61px;
}

.form-label-dpwd {
	background-position: 0 -91px;
}

.form-summary {
	padding: 10px 0;
}

.ui-form-item {
	padding: 0 5px 0 0;
}

.ui-select {
	display: inline-block;
	_display: inline;
	_zoom: 1;
	padding: 4px;
	cursor: pointer;
	margin-top: 2px;
	padding-right: 5px;
	background-repeat: no-repeat;
}

.loginbox .findpsw {
	position: absolute;
	right: 0;
}

.formBtn-login {
	width: 260px;
	height: 42px;
	background-color: #38e975;
	margin: 20px;
	border: 0 none;
	color: #fff;
	font-size: 20px;
	font-family: "微软雅黑";
	border-radius: 2px;
	cursor: pointer;
}

.formBtn-login:hover {
	background-color: #38d269;
}

.forgotpassword {
	float: right;
	margin: 0px 20px 0 0;
}

.forgotpassword a {
	color: #428fdf;
	font-size: 14px;
}

.ts {
	background: #f5e4b1;
	width: 230px;
	height: 25px;
	float: left;
	margin-top: 6px;
	border-radius: 4px;
	padding: 0 5px;
	line-height: 25px;
	font-size: 12px;
}

.iframeDiv {
	padding-top: 10px;
}

.button_menu_ecm {
	height: 30px;
	line-heigh: 28px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	-moz-border-radius: 4px; /* Gecko browsers */
	-webkit-border-radius: 4px; /* Webkit browsers */
	border-radius: 4px;
	border: none;
	padding: 2px 10px 3px 10px;
	margin-right: 5px;
	color: #fff;
	font-size: 14px;
	float: left;
	font-weight: normal;
	font-family: "微软雅黑";
	margin-left: 2px;
}

/* 详细表格样式   */
.innerTableDiv {
	margin-left: 10px;
	margin-bottom: 20px;
	background-color: white;
	border: 1px solid #ddd;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.innerTableDiv table td {
	background-color: white;
	border: 0px !important;
	margin: 0px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

tr.B td {
	font-weight: bold;
	color: black;
}

.innerTableDiv .row {
	background-color: white !important;
	border: none !important;
	border-top: 1px solid #DDD !important;
	border-bottom: 0px solid #DDD !important;
	margin-right: 20px !important;
	padding-bottom: 3px !important;
}
/* 重写datatable 搜索框样式 */
.dataTables_wrapper input[type=text] {
	width: 200px !important;
	border-radius: 4px !important;
}

.pagination>li.active>a, .pagination>li.active>a:hover {
	background-color: #4a8ed4 !important;
}
/*
数据表格中新增及删除按钮图片的class
*/
.img-left {
	margin-left: 4px;
}

.table {
	width: 100% !important;
}

.dropdown-menu {
	border: 0px !important;
}

.iframe-div-Color {
	background: #f3f3f3 !important;
	background-color: #f3f3f3 !important;
	padding-bottom: 50px !important;
	border-width: 0 1px 1px 1px;
	border-color: #ddd;
	border-style: solid;
}